body{
    background-image: url(../Module_02/Images/cat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #dddddd;
}
.firstdiv{
    background-color: aquamarine;
    margin: 20px;
    padding: 10px;
}
h1{
    text-align: center;
}
.seconddiv{
    background-color: aqua;
    margin: 20px;
    padding: 10px;
}