body{
    background-color: #dddddd;
}
.firstdiv{
    background-color: aquamarine;
    margin: 20px;
    padding: 10px;
}
h1{
    text-align: center;
}
.seconddiv{
    background-color: aqua;
    margin: 20px;
    padding: 10px;
}
.thirddiv{
    background-color: rgb(190, 111, 14);
    width: 400px;
    height: 300px;
    margin: 20px;
    padding: 10px;
}